body{
    background-image:url(../images/backimage.jpg);
}
/* Modify the background color */
.navbar-custom {
    background-color: lightgreen;
}
section {
    padding-top: 20px;
    padding-bottom: 10px;
}